{% extends "layout.html" %}
{% block content %}

  <body>
  	<center>
      <div id="camera">
	     <img src="{{ url_for('static', filename='captures/test.jpg') }}" alt="capture">
      </div>
      <div id="btns-div">
          <b>Go Back</b>
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static',filename='back.png') }}" alt="Go back" class="btn">
        </a>
          <b>Proceed</b>
        <a href="{{ url_for('login') }}">
          <img src="{{ url_for('static',filename='tick.png') }}" alt="Proceed" class="btn">
        </a>
      </div>
		</center>
  </body>

{% endblock content %}