{% extends "layout.html" %}
{% block content %}
{%if session['logged_in'] %}
    <form align="right" method="POST" action="{{url_for('home')}}">
        <input type="text" name="UserName">
        <input type="submit">
    </form>
    {%if user %}
    <img height="500" width="250" src="data:Image/png;base64,{{Image}}" alt="Profile Picture" >
    <h1>{{user[1]}} {{user[2]}}</h1>
    <p align ="center">
    <hr>
    {{user[0]}}
    <hr>
    {{user[3]}}
    <hr>
    {{user[4]}}
    <hr>
    {{user[5]}}
    <hr>
    </p>

    {% endif %}
{% else %}
    Please Login.
{% endif %}
{% endblock content %}