{% extends "layout.html" %}
{% block content %}
{%if session['logged_in'] %}
    <form align="right" method="POST" action="{{url_for('home')}}">
        <input type="text" name="UserName">
        <input type="submit">
    </form>
    {%if user %}
    <h1>{{user[1]}} {{user[2]}}</h1>
    <hr>
    {{user[0]}}
    <hr>
    {{user[3]}}
    <hr>
    {{user[4]}}
    <hr>
    {{user[5]}}
    <hr>
    <img="data:Image/jpeg;base64,{{Image}}" alt = "Profile Picture">
    </p>

    {% endif %}
{% else %}
    Please Login.
{% endif %}
{% endblock content %}